html,body{
    margin:0px;
}
.box{
    background-color: rgb(255, 251, 251);
    margin:0px;
    padding: 0px;
    height: 100vh;
}
.balls{
    padding-top:12%;
}
.ball{
    width:100px;
    height:100px;
    border-radius: 50%;
}
.green{
    margin:auto;
    margin-bottom: 1rem;
    background-color: rgb(45, 204, 204);
}
.yellow{
    margin:auto;
    margin-bottom: 1rem;
    background-color: rgb(208, 208, 43);
}
.red{
    margin-bottom: 1rem;
    margin:auto;
    background-color: rgb(220, 50, 50);
}